    <div class="dropdown is-active is-right">
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content go-sites-menu-container">
          <div class="columns is-centered is-multiline is-mobile">
            <div class="column is-narrow">
              <a href="http://uphg.dyndns.org">
                <button class="button go-sites-menu-button shortcut-moodle is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-moodle.svg" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Moodle</h4>
            </div>
            <div class="column is-narrow">
              <a href="//search.ebscohost.com">
                <button class="button go-sites-menu-button shortcut-ebsco is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-ebsco.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">EBSCOhost</h4>
            </div>
            <div class="column is-narrow">
              <a href="http://gti-gma.dyndns.org:8339/PARENTS_STUDENTS/parents_student_index.htm">
                <button class="button go-sites-menu-button shortcut-grades is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-grades.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Grades</h4>
            </div>
          </div>
          <hr class="dropdown-divider">
          <div class="columns go-applist-pad is-centered is-multiline is-mobile">
            <div class="column is-narrow">
              <a href="//meet.google.com">
                <button class="button go-sites-menu-button shortcut-meet is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-meet.svg" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Meet</h4>
            </div>
            <div class="column is-narrow">
              <a href="//chat.google.com">
                <button class="button go-sites-menu-button shortcut-chat is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-chat.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Chat</h4>
            </div>
            <div class="column is-narrow">
              <a href="//mail.google.com">
                <button class="button go-sites-menu-button shortcut-gmail is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-gmail.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Gmail</h4>
            </div>
            <div class="column is-narrow">
              <a href="//drive.google.com">
                <button class="button go-sites-menu-button shortcut-drive is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-drive.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Drive</h4>
            </div>
            <div class="column is-narrow">
              <a href="//docs.google.com">
                <button class="button go-sites-menu-button shortcut-docs is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-docs.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Docs</h4>
            </div>
            <div class="column is-narrow">
              <a href="//slides.google.com">
                <button class="button go-sites-menu-button shortcut-slides is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-slides.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Slides</h4>
            </div>
          </div>
          <hr class="dropdown-divider">
          <div class="columns go-applist-pad is-centered is-multiline is-mobile">
            <div class="column is-narrow">
              <a href="//www.perpetualtoday.cf">
                <button class="button go-sites-menu-button is-primary is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-today.svg" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Today</h4>
            </div>
            <div class="column is-narrow">
              <a href="//www.facebook.com/uphsgmabedthenewnormal">
                <button class="button go-sites-menu-button shortcut-bed is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-bed.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">Basic Ed</h4>
            </div>
            <div class="column is-narrow">
              <a href="//gma.uphsl.edu.ph">
                <button class="button go-sites-menu-button shortcut-uphs is-large is-rounded">
                <img src="/assets/icons/ic-shortcut-uphs.png" onmousedown="return false;" class="go-sites-menu-icon is-horizontal-center">
                </button>
              </a>
              <h4 class="subtitle has-text-dark shortcut-text has-text-centered is-6">UPHS-GMA</h4>
            </div>
          </div>
        </div>
      </div>
    </div>