@font-face {
   font-family: 'Animosa-Bold';
   font-display: swap;
   src: url('file:///home/tenseventy7/.config/Mobirise.com/Mobirise/projects/project-2021-04-30_145921/fonts/Animosa-Bold/font.ttf');
}
