@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600&display=swap');

@font-face {
  font-family: 'Animosa Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Animosa Regular'), url('/assets/fonts/AnimosaBrand/Animosa-Regular.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Animosa Extra Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/AnimosaBrand/Animosa-ExtraLight.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Animosa Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/AnimosaBrand/Animosa-Light.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Animosa Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/AnimosaBrand/Animosa-Bold.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Animosa Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/AnimosaBrand/Animosa-ExtraBold.woff') format('woff');
  }