{{ define "main" }}
<nav class="navbar is-transparent search-results-navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{.Site.Params.brand.navbar | absURL }}" class="navbar-logo">
    </a>
    <div class="go-header-search">
      <div class="control has-icons-left ml-4">
        <form method="get" action="/search">
          <input class="input is-rounded is-primary go-header-search" type="text" name="gp-search" id="gp-search" placeholder="Search on Google">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </form>
      </div>
    </div>
    <span class="navbar-burger navbar-burger-header has-text-dark burger" data-target="appMenuHeader" data-caption="appMenuCaption">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div id="appMenuHeader" class="m-fadeOut go-sites-menu card">
    {{ partial "components/appmenu.html" . }}
  </div>
</nav>
<section class="section">
  <div class="container">
    <p>This is the Cookie Policy for Perps Go!, accessible from https://go.prptd.cf</p></br>
    <h3 class="title is-3 has-text-dark">What Are Cookies</h3>
    <p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>
    <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p></br></br>
    <h3 class="title is-3 has-text-dark">How We Use Cookies</h3>
    <p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p></br></br>
    <h3 class="title is-3 has-text-dark">Disabling Cookies</h3>
    <p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p></br></br>
    <h3 class="title is-3 has-text-dark">Third Party Cookies</h3>
    <p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p>
    <ul>
      <li>
        <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p></br>
        <p>For more information on how Google respects your privacy, please <a href="https://policies.google.com/privacy">click here</a>.</p>
      </li></br>
      <li>
        <p>From time to time we test new features and make subtle changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that you receive a consistent experience whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.</p>
      </li></br>
      <li>
        <p>We also use social media buttons and/or plugins on this site that allow you to connect with your social network in various ways. For these to work the following social media sites including; Facebook, Google, and Twitter, will set cookies through our site which may be used to enhance your profile on their site or contribute to the data they hold for various purposes outlined in their respective privacy policies.</p>
      </li>
    </ul></br></br>
    <h3 class="title is-3 has-text-dark">More Information</h3>
    <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. This Cookies Policy was created with the help of the <a href="https://www.cookiepolicygenerator.com/cookie-policy-generator/">Cookies Policy Template Generator</a> and the <a href="https://www.privacypolicytemplate.net/">Privacy Policy Template Generator</a>.</p></br>
    <p>However if you are still looking for more information you can contact us through one of our preferred contact methods:</p>
    <ul>
      <li><strong>Email:</strong> <a href="mailto:perpetualtoday@gmail.com">perpetualtoday@gmail.com</a></li>
    </ul>
  </div>
</section>
{{ end }}