<section class="footer" id="contact">
	<div class="footer__background_shape">
		<svg viewBox="0 0 1920 79">
			<path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
		</svg>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			</div>
		</div>
		<div class="row footer__widget">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		<div class="row footer__footer">
			<div class="col-lg-6">
				<div class="footer__footer_copy text-light">
					<p>{{ .Site.Params.copyright }}.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer__footer_copy text-light d-md-flex justify-content-sm-center justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
					  <a class="mr-md-4" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
				</div>
			</div>
		</div>
	</div>
</section>