<nav class="navbar is-fixed-top is-transparent" id="fresh-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#home">
      <img src="/assets/images/fresh-icon-white.svg" height="72">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="#features" class="navbar-item">
        Features
      </a>
      <a href="#screenshots" class="navbar-item">
        Screenshots
      </a>
      <a href="#faq" class="navbar-item">
        FAQ
      </a>
      <a href="#community" class="navbar-item">
        Community
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="#downloads" class="button is-primary">
            <strong>Download</strong>
          </a>
          <a href="//github.com/FreshROMs" class="button is-dark">
            GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>